<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="#fff;">
      <div>
        <a href="login">
        <img src="../../assets/back.png" class="backimg">
        <p class='back'>아이디 찾기 · 비밀번호 재설정</p></a>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-tabs class="tabs-fullwidth">
    <ion-tab-bar slot="top" color="#eaeaea;">
      <ion-tab-button tab="idpwtab1" class="tab1_">
        <ion-label style="font-size: 18px;color: #000;">아이디 찾기</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="idpwtab2" class="tab2_">
        <ion-label style="font-size: 18px;color: #000;">비밀번호 재설정</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
